#title {
    color: #0c0a3e;
    font-family: lieberuth, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;

}

body {
    background-color: #cbf3f0;
}

.container {
    display: flex;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 400px;
    height: 600px;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100px;
    width: 300px;
    padding-right: 20px;
    background-color: #cbf3f0;
    
}

.total,
.display {
    height: 50px;
    font-family: lieberuth, sans-serif;
    font-style: normal;
}

.total {
    color: #f9564f;
    font-size: 30px;
    font-weight: 800;
}

.display {
    color: #b33f62;
    font-size: 24px;
    font-weight: 500;
}

.buttons {
    margin-top: 20px;
}

button {
    height: 75px;
    width: 75px;
    border-radius: 0%;
    border: none;
    margin: 2px;
    cursor: pointer;
}

.rowA,
.rowB,
.rowC,
.rowD,
.rowE {
    display: flex;
}

#equals,
#clear {
    width: 154px;
}

#clear {
    background-color: #f9564f;
    color: #cbf3f0;
    font-family: lieberuth, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;

}
#clear:active {
    background-color: #b13a36;
}

.operator {
    background-color: #b33f62;
    color: #cbf3f0;
    font-family: lieberuth, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}
.operator:active {
    background-color: #76263e;
}

.number,
#decimal {
    background-color: #f3c677;
    color: #b33f62;
    font-family: lieberuth, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}
.number:active,
#decimal:active {
    background-color: #b59153;
}

.footer {
    display: flex;
    justify-content: center;
}

p {
    color: #0c0a3e;
    font-family: lieberuth, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
}

a {
    color: #f9564f;
    font-family: lieberuth, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px; 
}

a:hover {
    color: #0c0a3e;
}